---
import {Image} from 'astro:assets'
import FooterLogo from './../../../public/logo-footer.png'
---

<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <div class="flex justify-center">
          <Image src={FooterLogo} alt="Logo" />
        </div>
      </div>
    </div>
  </div>
</footer>